mat-card {
  width: 100%;
  max-width: 500px;

  margin-top: 3rem;

  mat-form-field {
    width: 100%;

    .article-form {
      display: flex;
      flex-direction: column;
    }

    textarea {
      min-height: 150px;
    }
  }
}

