<div class="flexbox jc-center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Identifiez vous
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <mat-form-field>
          <mat-label>Identifiant</mat-label>
          <input matInput type="text" placeholder="Entrez votre nom..." name="username" [(ngModel)]="username" [formControl]="usernameFormControl">
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="usernameFormControl.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" placeholder="Entrez votre mot de passe..." name="password" [(ngModel)]="password" [formControl]="passwordFormControl">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Mot de passe <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions class="flexbox jc-center">
      <button mat-raised-button color="primary" (click)=checkLogin() class="btn btn-success">
        Connexion
      </button>
    </mat-card-actions>
  </mat-card>
</div>






<!--
<div class="container">
  <div>
    User Name : <input type="text" name="username" [(ngModel)]="username">
    Password : <input type="password" name="password" [(ngModel)]="password">
  </div>
</div>-->
