/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#btn__home {
  cursor: pointer;
}
#btn__logout {
  * {
    color: #b71c1c;

  }
  &:hover {
    background-color: rgba(183, 28, 28, 0.06);
    /** {
      color: white;
    }*/
  }
}

#global-wrapper {
  .flexbox {
    display: flex;

    &.jc-center {
      justify-content: center;
    }

    &.ai-center {
      align-items: center;
    }
  }
}
