
.commentList {
  display: flex;
  width: 100%;
  flex-direction: column;

  .card {
    display: flex;
    width: 100%;
    margin: 0 0 0.5rem;
    padding: 0.5rem 1rem;
    flex-direction: column;

    .mat-card-title {
      font-size: 1rem;
      font-weight: 400;
    }

    .mat-card-content {
      margin-bottom: 0.25rem;
    }

    .mat-card-footer {
      padding: 0 1rem;
    }
  }

}
